:root {
    --primary-text-color: #000000;
    --accent-color: #F7941E;
    --secondary-accent-color: #231F20;
    --section-background-color: #FAFAFA;
    --secondary-background-color: #F1F1F2;
    --primary-white-color: #ffffff;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

/* утиліти */

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    /* margin-left: auto;
  margin-right: auto; */
    margin: 0 auto;
}

.container-hero {
    width: 1440px;
    padding: 0;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.pointer {
    cursor: pointer;
}

/* page-header */

.page-header {
    background-color: var(--section-background-color);
    width: 1440px;
}

/* logo */

.logo {
    margin-left: 80px;

    font-family: Homemade Apple, sans-serif;
    font-size: 18px;
    line-height: 2.17;
    text-decoration: none;
}

.logo-nav {
    color: var(--secondary-accent-color);
}

.logo-nav:hover {
    color: var(--accent-color);
}

.logo-footer {
    color: var(--accent-color);
}

.logo-footer:hover {
    color: var(--secondary-accent-color);
}

/* main-nav */

.main-nav {
    display: flex;
    align-items: center;
}

/* site-nav */

.site-nav {
    display: flex;
    padding-left: 433px;
}

.site-nav .item-nav:not(:last-child) {
    margin-right: 31px;
}

.site-nav .link {
    display: block;
    padding-top: 47.37px;
    padding-bottom: 47.37px;

    color: var(--primary-text-color);

    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}


/* button-nav */

.btn-nav {
    padding: 13.97px 25px 7.53px 24px;
    margin-left: auto;
    margin-right: 31px;

    color: var(--accent-color);
    background-color: var(--section-background-color);

    border: 1px solid var(--accent-color);
    border-radius: 5px;

    font-family: inherit;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    vertical-align: center;
}

.btn-nav.primary:hover,
.btn-nav.primary:focus {
    color: var(--section-background-color);
    background-color: var(--accent-color);
}

/* hero */

.hero {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;

    background-color: var(--secondary-background-color);
}

.hero-content {
    width: calc(100% - 971px);
    margin: auto;
}

.hero-title {
    margin-bottom: 36px;

    font-weight: 600;
    font-size: 56px;
    line-height: 100%;

    color: var(--primary-text-color);
}

.hero-text {
    margin-bottom: 36px;

    font-size: 20px;
    line-height: 1.41;

    color: var(--primary-text-color);
}

.btn-hero {
    padding: 23px 24px 15px 25px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    border: 1px solid var(--accent-color);
    border-radius: 5px;

    font-family: inherit;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    vertical-align: center;
}

.btn-hero.primary:hover,
.btn-hero.primary:focus {
    color: var(--accent-color);
    background-color: var(--section-background-color);
}